<ul>
 <li><%= link_to 'Logout', logout_path, method: :delete %></li>
</ul>
<h1>タスク一覧</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= task.id %> : <%= task.status %> &gt; <%= task.content%>
    <% if current_user == task.user %>
    <%= link_to "編集・削除", task %>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to '新規タスクの投稿', new_task_path %>
